/.htaccess.sample
/app/code/community/Phoenix/
/app/code/core/
/app/design/
/app/etc/
/app/locale/
/app/Mage.php
/cron.php
/cron.sh
/downloader/
/errors/
/favicon.ico
/includes/
/index.php
/index.php.sample
/install.php
/js/blank.html
/js/extjs/
/js/lib/
/js/prototype/
/js/spacer.gif
/js/varien/
/js/calendar/
/js/flash/
/js/index.php
/js/mage/
/js/scriptaculous/
/js/tiny_mce/
/lib/
/LICENSE_AFL.txt
/LICENSE.html
/LICENSE.txt
/media/catalog/
/media/downloadable/
/media/import/
/media/tmp/
/nbproject/
/pear/
/php.ini.sample
/pkginfo/
/RELEASE_NOTES.txt
/shell/
/skin/adminhtml/default/default/
/skin/frontend/base/
/skin/frontend/default/blank/
/skin/frontend/default/blue/
/skin/frontend/default/default/
/skin/frontend/default/french/
/skin/frontend/default/german/
/skin/frontend/default/iphone/
/skin/frontend/default/modern/
/skin/install/
/var/
/pear
